In [2]:
print("Hello, World!")

Hello, World!

In [3]:
import pandas as pd
data = [
    [60,65,66],
    [80,85,88],
    [100,100,100]
]
df = pd.DataFrame(data)
df

     0    1    2
0   60   65   66
1   80   85   88
2  100  100  100

In [2]:
pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/d6/7c/20e737300f9bec011fb79c01d8948bc38c854876aac2da2cfcdd0992b153/pandas-2.1.3-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Using cached pandas-2.1.3-cp311-cp311-macosx_11_0_arm64.whl.metadata (18 kB)
Collecting numpy<2,>=1.23.2 (from pandas)
  Obtaining dependency information for numpy<2,>=1.23.2 from https://files.pythonhosted.org/packages/2e/54/218ce51bb571a70975f223671b2a86aa951e83abfd2a416a3d540f35115c/numpy-1.26.2-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Using cached numpy-1.26.2-cp311-cp311-macosx_11_0_arm64.whl.metadata (115 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Using cached pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.1.3-cp311-cp311-macosx_11_0_arm64.whl (10.8 MB)
Using cached numpy-1.26.2-cp311-cp311-macosx_11_0_arm64.whl (14.0 MB)
Using cached pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.2 pandas-2.1.3 pytz-2023.3.post1 tzdata-2023.3

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
df.columns = ["国語","数学","英語"]
df.index = ["シュタルク","フェルン","フリーレン"]
df

        国語   数学   英語
シュタルク   60   65   66
フェルン    80   85   88
フリーレン  100  100  100

import pandas as pd
df = pd.read_csv("test.csv")
df

In [8]:
import pandas as pd
df = pd.read_csv("testSJIS.csv", encoding="shift-jis")
df

   名前   国語  数学  英語  学生番号
0  A太   83  89  76  A001
1  B介   66  93  75  B001
2  C子  100  84  96  B002
3  D郎   60  73  40  A002
4  E美   92  62  84  C001
5  F菜   96  92  94  C002

In [9]:
import pandas as pd
df = pd.read_csv("test.csv" , index_col=0)
df

     国語  数学  英語  学生番号
名前
A太   83  89  76  A001
B介   66  93  75  B001
C子  100  84  96  B002
D郎   60  73  40  A002
E美   92  62  84  C001
F菜   96  92  94  C002

In [10]:
import pandas as pd
df = pd.read_csv("testNoHeader.csv", index_col=0, header=None)
df

      1   2   3     4
0
A太   83  89  76  A001
B介   66  93  75  B001
C子  100  84  96  B002
D郎   60  73  40  A002
E美   92  62  84  C001
F菜   96  92  94  C002

In [11]:
import pandas as pd
df = pd.read_csv("test.csv", index_col=0)
df

     国語  数学  英語  学生番号
名前
A太   83  89  76  A001
B介   66  93  75  B001
C子  100  84  96  B002
D郎   60  73  40  A002
E美   92  62  84  C001
F菜   96  92  94  C002

In [12]:
df.columns

Index(['国語', '数学', '英語', '学生番号'], dtype='object')

In [13]:
df.index

Index(['A太', 'B介', 'C子', 'D郎', 'E美', 'F菜'], dtype='object', name='名前')

In [14]:
list1 = [i for i in df.columns]
print(list1)

list2 = [i for i in df.index]
print(list2)

['国語', '数学', '英語', '学生番号']
['A太', 'B介', 'C子', 'D郎', 'E美', 'F菜']

In [15]:
df.dtypes

国語       int64
数学       int64
英語       int64
学生番号    object
dtype: object

In [16]:
len(df)

6

In [18]:
df["国語"]

名前
A太     83
B介     66
C子    100
D郎     60
E美     92
F菜     96
Name: 国語, dtype: int64

In [19]:
df[['国語','数学']]

     国語  数学
名前
A太   83  89
B介   66  93
C子  100  84
D郎   60  73
E美   92  62
F菜   96  92

In [20]:
df.iloc[0]

国語        83
数学        89
英語        76
学生番号    A001
Name: A太, dtype: object

In [22]:
df.iloc[[0,3]]

    国語  数学  英語  学生番号
名前
A太  83  89  76  A001
D郎  60  73  40  A002

In [23]:
df.iloc[0]["国語"]

83

In [24]:
import pandas as pd # pandasをインポート
dfA = pd.read_csv("test.csv", index_col=0) # test.csvを読み込み

dfB = pd.DataFrame() # 空のデータフレームを作成
dfB["国語"] = dfA["国語"] # dfAの国語列をdfBに追加
dfB # dfBを表示

     国語
名前
A太   83
B介   66
C子  100
D郎   60
E美   92
F菜   96

In [30]:
dfA = pd.read_csv("test.csv", index_col=0) # test.csvを読み込み

dfB = pd.DataFrame() # 空のデータフレームを作成
dfB = dfB.append(dfA.iloc[0]) # dfAの0行目をDataFrameとしてdfBに追加
dfB # dfBを表示

AttributeError: 'DataFrame' object has no attribute 'append'

In [31]:
dfA = pd.read_csv("test.csv", index_col=0) # test.csvを読み込み
dfA = dfA.drop("国語", axis=1) # dfAの国語列を削除
dfA # dfAを表示")

    数学  英語  学生番号
名前
A太  89  76  A001
B介  93  75  B001
C子  84  96  B002
D郎  73  40  A002
E美  62  84  C001
F菜  92  94  C002

In [33]:
dfA = pd.read_csv("test.csv", index_col=0) # test.csvを読み込み
dfA = dfA.drop(dfA.index[3]) # dfAの3行目を削除
dfA # dfAを表示

     国語  数学  英語  学生番号
名前
A太   83  89  76  A001
B介   66  93  75  B001
C子  100  84  96  B002
E美   92  62  84  C001
F菜   96  92  94  C002

In [34]:
import pandas as pd
dfA = pd.read_csv("test.csv", index_col=0) # test.csvを読み込み
dfA["国語"] > 80

名前
A太     True
B介    False
C子     True
D郎    False
E美     True
F菜     True
Name: 国語, dtype: bool

In [35]:
dfB = dfA[dfA["国語"] > 80] # dfAの国語列が80より大きい行を抽出
dfB # dfBを表示

     国語  数学  英語  学生番号
名前
A太   83  89  76  A001
C子  100  84  96  B002
E美   92  62  84  C001
F菜   96  92  94  C002

In [37]:
dfB = dfA[(dfA["国語"] > 80) & (dfA["数学"] > 80)] # dfAの国語列が80より大きく、かつ数学列が80より大きい行を抽出
dfB # dfBを表示

     国語  数学  英語  学生番号
名前
A太   83  89  76  A001
C子  100  84  96  B002
F菜   96  92  94  C002

In [38]:
import pandas as pd
data = {
    "国語" : [90,50,None,40],
    "数学" : [80,None,None,50]
}
idx = ["シュタルク","フェルン","フリーレン","ザイン"]
dfA = pd.DataFrame(data, index=idx)
dfA

         国語    数学
シュタルク  90.0  80.0
フェルン   50.0   NaN
フリーレン   NaN   NaN
ザイン    40.0  50.0

In [39]:
dfA.isnull().sum()

国語    1
数学    2
dtype: int64